{% load static %}
<html>
    <head>
        <title> Dice calculator </title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
        <link rel="stylesheet" href="{% static 'calculator/styles.css' %}" >
        {{count | json_script:"count"}}
        {{abs |json_script:"abs"}}
        {{less |json_script:"less"}}
        {{more |json_script:"more"}}
        {% include 'calculator/script.html' %}
    </head>
    <body >
        <header>
            <h1> Dice calculator</h1>
            <nav>
                <a href="{% url 'dice-calculator' %}" class="btn1">page principale </a>
                <a href="{% url 'notice' %}" class="btn1">mode d'emploi</a>
            </nav>
        </header>

        {% block content %} {% endblock %}
    </body>
</html>