{% extends 'calculator/base.html' %}

{% block content %}

<link href=”http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
<link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel=”stylesheet” type=”text/css”>


<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>


<h1> Dice calculator</h1>

<p> enter your desired output :</p>

<form action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Calculate">
</form>

{% if request.method == 'POST'%}

<p> {{count}} </p>

{% endif %}

{% endblock %}