{% extends 'calculator/base.html' %}
{% load static %}

{% block content %}
{% if request.method == 'POST'%}
<p class="flex"> il a fallu {{timer}} secondes pour calculer les {{total_comb}} combinaisons </p>
{% endif %}
<div class="form">
    <p class="text_form"> Entrez les dés à calculer :</p>
    <form action="" method="post">
            {% csrf_token %}
            {{form}}
        <br>
        <a class="clique" >
            <input type="submit" value="Calcul">
        </a>
    </form>

    <br>
</div>
<section class="chartsec">
    <div class="row1">
        <a class="cchart1"><canvas id="chart1" height="396px" width="780px"></canvas></a>
    </div>
    <div class="row2">
        <a class="cchart2"><canvas id="chart2" height="396px" width="780px"></canvas></a>
        <a class="cchart3"><canvas id="chart3" height="396px" width="780px"></canvas></a>
    </div>

</section>

{% if request.method == 'POST'%}

<br>



{% endif %}



{% endblock %}